@extends('WT/admin/layout')

@block('page-content')
	
	<div class='page-section page-section-content'>
		@embed('Admin/admin/item-table',['item' => $item])
			@block('item-row-actions')

				{# Add to stack #}
				<a 
					class='button-action button-action-icon button-primary' 
					href="{{\Cfg::get('app.web')}}admin/music/player/{id}">
					<i class="fa fa-play"></i>
				</a>

				@parent

			@endblock

			@block('item.content.title')
				Playlists
			@endblock

		@endembed

	</div>

@endblock