@extends('WT/admin/layout')


@block('stylesheet')
	@parent

	<link rel='stylesheet' href='{{assets('src/WT/assets/wt/reader.css')}}'>
@endblock

@block('scripts')
	@parent

	<script src='{{assets('src/WT/assets/wt/reader.js')}}'></script>
@endblock

@block('body')


<div class=' wt-manga-reader-container page-section page-section-content section-inner'>

	<div>

		<div class='ly-row'>
			<h2 class='wt-manga-reader-title ly-row ly-v-center'>
				<a href="{{route('admin.resource',['resource_type' => $resource -> type,'resource_id' => $resource -> id])}}">{{$resource -> name}}</a> 
				&nbsp;
				<i class='fa fa-angle-double-right'></i> 
				&nbsp;
			
				<select class='select-data ly-fill wt-reader-chapters'>
					@foreach($resource -> chapters -> sortBy(['number' => ['direction' => 'ASC','type' => 'number']]) as $chapter_select)
					<option value="{{route('admin.chapter',['manga_id' => $resource -> id,'chapter_id' => $chapter_select -> id])}}" {{$chapter_select -> id == $chapter -> id ? "selected" : ""}}>
						Vol {{$chapter_select -> volume -> number}}
						Ch {{$chapter_select -> number}}:
						{{$chapter_select -> name}}
					</option>
					@endforeach
				</select>
			

			</h2>
		</div>
		<br>
		<div class='ly-right ly-row'>

			<div class='wt-reader-pagination-navigation wt-manga-reader-mode wt-manga-reader-pag'>
				<button type='button' class='button-action primary wt-manga-reader-prev'>
					Prev
				</button>
				<select class='select-data wt-manga-reader-select'>
					@foreach((array)$chapter -> raw as $n => $file)
						<option value='{{$n + 1}}'>{{$n + 1}}</option>
					@endforeach
					<option value='{{$n + 2}}'>Summary</option>
					
				</select>
				<button type='button' class='button-action wt-manga-reader-next'>
					Next
				</button>
			</div>
			&nbsp;
			&nbsp;
			<select name='wt-reader-mode' class='select-data'>
				<option value='all'>All in one</option>
				<option value='pag'>Pagination</option>
			</select>
		</div>
	</div>

	<div class=' ly-row'>

	</div>
	

	
</div>

<div class='ly-row '>


		<div class='wt-manga-reader-pag wt-manga-reader wt-manga-reader-container wt-manga-reader-mode page-section page-section-content'>
			@foreach((array)$chapter -> raw as $n => $file)
				<button class='wt-manga-reader-move' value='{{$n + 2}}'>
					<img class='wt-manga-reader-image' wt-manga-reader-raw='{{$n + 1}}' src='{{$chapter -> raw() -> web($file)}}'>
				</button>
			@endforeach

			<h1 wt-manga-reader-raw='{{$n + 2}}' class='wt-manga-reader-image wt-manga-reader-next-chapter'>
				<div class='ly-center'>
					<a href="{{route('admin.chapter.next',['manga_id' => $resource -> id,'chapter_id' => $chapter -> id])}}">Next</a>
				</div>
			</h1>
		</div>

		<div class='wt-manga-reader-all wt-manga-reader wt-manga-reader-container wt-manga-reader-mode page-section page-section-content'>
			<a href="{{route('admin.chapter.next',['manga_id' => $resource -> id,'chapter_id' => $chapter -> id])}}">

			@foreach((array)$chapter -> raw as $file)
				<img class='wt-manga-reader-image' src='{{$chapter -> raw() -> web($file)}}'>
			@endforeach
			</a>
		</div>
	</div>
</div>

@endblock