@extends('WT/admin/layout')


@block('stylesheet')
	@parent

	<link rel='stylesheet' href='{{assets('src/WT/assets/wt/reader.css')}}'>
@endblock

@block('body')


<div class='ly-row'>

		<div class='wt-manga-reader-container page-section page-section-content section-inner'>
			<h2 class='wt-manga-reader-title'><a href="{{route('admin.resource',['resource_type' => $resource -> type,'resource_id' => $resource -> id])}}">{{$resource -> name}}</a> <i class='fa fa-angle-double-right'></i> {{$chapter -> number}}</h2>
		</div>
	
</div>

<div class='ly-row'>


		<div class='wt-manga-reader-container page-section page-section-content section-inner'>
			@foreach((array)$chapter -> raw as $file)
				<img src='{{$chapter -> raw() -> web($file)}}'>
				<br>
			@endforeach
		</div>
	</div>
</div>

<div class='ly-row'>

	<div class='wt-manga-reader-container page-section page-section-content section-inner'>
 		Next
	</div>
	
</div>
@endblock