@extends('WT/admin/layout')

@block('page-content')

@include('WT/admin/resource')

{# Dashboard #}
<div class='ly-row'>

	<div class='page-section page-section-content'>
		<div class='ly-row wt-search-results'>
			@foreach(Auth::user() -> getSeries() as $serie)
				<div class='wt-search-result-container ly-xs-1 ly-sm-2 ly-md-4 ly-xl-6 ly-en-8'>
					<div class='wt-search-result wt-seach-result-hover' wt-status-user='1' wt-info='{{$serie -> container -> type}},{{$serie -> id}}'>
						<div class='wt-search-title'>{{$serie -> name}}</div>
						<div class='wt-search-img'><img src='{{$serie -> poster() -> getFullPath()}}'></div>
					</div>
				</div>
			@endforeach

			@foreach(Auth::user() -> getManga() as $resource)
			
				<div class='wt-search-result-container ly-xs-1 ly-sm-2 ly-md-4 ly-xl-6 ly-en-8'>
					<div class='wt-search-result wt-seach-result-hover' wt-status-user='1' wt-info='{{$resource -> container -> type}},{{$resource -> id}}'>
						<div class='wt-search-title'>{{$resource -> name}}</div>
						<div class='wt-search-img'><img src='{{$resource -> poster() -> getFullPath()}}'></div>
					</div>
				</div>
			@endforeach

		</div>
		</div>
	</div>
</div>
@endblock