@extends('WT/admin/layout')

@block('header-nav')
	<div class='page-header-button ly-center' cw-show='dashboard:serie|manga' cw-default>
	All ({{Auth::user() -> getSeries() -> count() + Auth::user() -> getManga() -> count()}})
	</div>

	<div class='page-header-separator'></div>

	<div class='page-header-button ly-center' cw-show='dashboard:serie'>
		<i class='fa fa-tv'></i>&nbsp;Series/Anime ({{Auth::user() -> getSeries() -> count()}})
	</div>

	<div class='page-header-separator'></div>

	<div class='page-header-button ly-center' cw-show='dashboard:manga'>
		<i class='fa fa-book'></i>&nbsp;Manga ({{Auth::user() -> getManga() -> count()}})
	</div>

	<div class='page-header-separator'></div>
@endblock

@block('page-content')

@include('WT/admin/resource')

{# Dashboard #}
<div data-template='wt-dashboard-element'>
	<div class='wt-search-result-container ly-xs-1 ly-sm-2 ly-md-4 ly-xl-6 ly-en-8' cw-element='{resource.type}'>
		<div class='wt-search-result wt-seach-result-hover' wt-status-user='1' wt-info='{resource.container.type},{resource.id}'>
			<div class='wt-search-title'>{resource.name}</div>
			<div class='wt-search-img'><img src='{resource.poster}'></div>
		</div>
	</div>
</div>
<div class='ly-row'>

	<div class='page-section page-section-content'>
		<div class='ly-row wt-search-results' cw-container='dashboard'>

		</div>
	</div>

</div>

@endblock

@block('scripts')
	@parent

	<script>
		WT.dashboard.serie.data = {{Auth::user() -> getSeries()}};
		WT.dashboard.manga.data = {{Auth::user() -> getManga()}};

		$(document).ready(function(){WT.dashboard.load()});

	</script>
@endblock