@extends('WT/admin/layout')


@block('page-content')
<div class='ly-row'>
	<div class='page-section page-section-content'>
		<div class='ly-row'>
			<div class='page-header-button ly-center' cw-show='dashboard:series|manga' cw-default>
				All (<span id='wt-library-count-all'>0</span>)
				</div>

			<div class='page-header-button ly-center' cw-show='dashboard:series'>
				<i class='fa fa-tv'></i>&nbsp;Series/Anime (<span id='wt-library-count-series'>0</span>)
			</div>


			<div class='page-header-button ly-center' cw-show='dashboard:manga'>
				<i class='fa fa-book'></i>&nbsp;Manga (<span id='wt-library-count-manga'>0</span>)
			</div>

			<div class='page-header-separator'></div>

			<div class='page-header-button ly-center' wt-library-sort='name'>
				
				Sort By Name&nbsp;
				<i class="wt-library-sort fa fa-sort-amount-asc" aria-hidden="true" wt-library-sort-direction='asc'></i>
				<i class="wt-library-sort fa fa-sort-amount-desc" aria-hidden="true" wt-library-sort-direction='desc'></i>
			</div>

			<div class='page-header-button ly-center' wt-library-sort='new'>
				
				Sort by New&nbsp;
				<i class="wt-library-sort fa fa-sort-amount-asc" aria-hidden="true" wt-library-sort-direction='asc'></i>
				<i class="wt-library-sort fa fa-sort-amount-desc" aria-hidden="true" wt-library-sort-direction='desc'></i>
			</div>


			<div class='ly-fill'>

			</div>
			<div class='page-header-section ly-center'>
				<input type='text' class='input-data' wt-library-filter>
			</div>
		</div>
	</div>
</div>

@include('WT/admin/resource')

{# Dashboard #}
<div data-template='wt-dashboard-element'>
	<div class='wt-search-result-container ly-xs-100 ly-sm-50 ly-md-25 ly-xl-16.66 ly-en-12.50' cw-element='{resource.type}'>
		<div class='wt-search-result wt-seach-result-hover' wt-status-user='1' wt-info='{resource.type},{resource.id}'>
			<div class='wt-search-title'><span class='wt-search-new' wt-search-new='{resource.new}'>{resource.new}</span>{resource.name}</div>
			<div class='wt-search-img'><img src='{resource.poster}'></div>

		</div>
	</div>
</div>
<div class='ly-row'>

	<div class='page-section page-section-content'>
		<div class='ly-row wt-search-results' cw-container='dashboard'>

		</div>
	</div>

</div>

@endblock

@block('scripts')
	@parent
@endblock

@block('body_attributes')
	wt-dashboard-sort-field='new'
	wt-dashboard-sort-direction='desc'
	@parent
@endblock