{# Modal #}
@embed('Admin/admin/__modal',[],'modal-wt-get')
	@block('__class')modal-body-medium@endblock
	@block('id')modal-wt-get@endblock
	@block('title')Information@endblock
	@block('content')
		<div class='modal-wt-get-body'>
		</div>
	@endblock
@endembed

{# Serie #}
<div data-template='wt-get-serie'>
	<img src='{resource.banner.original}'>
	<h2>{resource.name} <span class='tag tag-action tag-{status_type}'>{resource.status}</span></h2>
	<p>{resource.overview}</p>
	<p><b>DataBase API</b>: {resource.database_name} | {resource.database_id}</p>
	<p><b>Last update</b>: {resource.updated_at}</p>
	<p><b>Resource</b>: <a target='_blank' href='{{\Request::getDirUrl()}}admin/resource/series/{resource.id}'>#{resource.id}</a></p>
	<!--
	<h3>Flag</h3>
	<select class='select-data' name='flag'>
		<option value='to-be-seen'>To be seen</option>
		<option value='in-progress'>In progress</option>
		<option value='seen'>Seen</option>
	</select>
	<button type='button' class='button button-action button-primary'><i class="fa fa-upload" aria-hidden="true"></i><span>Save changes</span></button>
	-->
	<button type='button' class='button button-action button-primary' wt-sync='{resource.container_type},{resource.id}'><i class="fa fa-refresh" aria-hidden="true"></i><span>Sync DataBase API</span></button>
	<!--
		<button type='button' class='button button-action button-primary'><i class="fa fa-refresh" aria-hidden="true"></i><span>Check Updates</span></button>
	-->
	<button type='button' class='button button-action button-danger' wt-remove='{resource.container_type},{resource.id}'><i class="fa fa-trash" aria-hidden="true"></i><span>Remove</span></button>

</div>

{# Manga #}
<div data-template='wt-get-manga'>
	<div class='ly-row ly-wrap'>
		<div class='ly-xs-100 ly-sm-25'>
			<img class='wt-modal-resource-image' src='{resource.poster}'>
		</div>
		<div class='wt-get-manga-right-img ly-xs-100 ly-sm-75'>
			<h2>{resource.name} <span class='tag tag-action tag-{status_type}'>{resource.status}</span></h2>
			<p>{resource.overview}</p>
			<p><b>DataBase API</b>: {resource.container.database_name} | {resource.container.database_id}</p>
			<p><b>Last update</b>: {resource.updated_at}</p>
			<p><b>Resource</b>: <a target='_blank' href='{{\Request::getDirUrl()}}admin/resource/manga/{resource.id}'>#{resource.id}</a></p>
		</div>
	</div>
	<!--
	<h3>Flag</h3>
	<select class='select-data' name='flag'>
		<option value='to-be'>To be read</option>
		<option value='in-progress'>In progress</option>
		<option value='completed'>Readed</option>
	</select>
	<button type='button' class='button button-action button-primary'><i class="fa fa-upload" aria-hidden="true"></i><span>Save changes</span></button>
	-->
	<button type='button' class='button button-action button-primary' wt-sync='{resource.container_type},{resource.id}'><i class="fa fa-refresh" aria-hidden="true"></i><span>Sync DataBase API</span></button>

	<!--
	<button type='button' class='button button-action button-primary'><i class="fa fa-refresh" aria-hidden="true"></i><span>Check Updates</span></button>
	-->
	<button type='button' class='button button-action button-danger' wt-remove='{resource.container_type},{resource.id}'><i class="fa fa-trash" aria-hidden="true"></i><span>Remove</span></button>
</div>