{# Modal #}
@embed('Admin/admin/__modal','modal-wt-get')
	@block('__class')modal-body-medium@endblock
	@block('id')modal-wt-get@endblock
	@block('title')Information@endblock
	@block('content')
		<div class='modal-wt-get-body'>
		</div>
	@endblock
@endembed

{# Serie #}
<div data-template='wt-get-serie'>
	<img src='{banner}'>
	<h2>{name} <span class='tag tag-action tag-{status_type}'>{status}</span></h2>
	<p>{overview}</p>
	<p><b>DataBase API</b>: {database_name} | {database_id}</p>
	<p><b>Last update</b>: {updated_at}</p>
	<a target='_blank' href='{{\Request::getDirUrl()}}admin/resource/series/{id}'>Episodes</a>

	<h3>Flag</h3>
	<select class='select-data'>
		<option>To be seen</option>
		<option>In progress</option>
		<option>Seen</option>
	</select>
	<button type='button' class='button button-action button-primary'><i class="fa fa-upload" aria-hidden="true"></i><span>Save changes</span></button>
	<h3>Actions</h3>
	<button type='button' class='button button-action button-primary' wt-sync='series,{id}'><i class="fa fa-refresh" aria-hidden="true"></i><span>Sync DataBase API</span></button>
	<button type='button' class='button button-action button-primary'><i class="fa fa-refresh" aria-hidden="true"></i><span>Check Updates</span></button>
	<button type='button' class='button button-action button-danger' wt-remove='series,{id}'><i class="fa fa-trash" aria-hidden="true"></i><span>Remove</span></button>

</div>

{# Manga #}
<div data-template='wt-get-manga'>
	<div class='ly-row'>
		<img src='{poster}'>
		<div class='wt-get-manga-right-img'>
			<h2>{name} <span class='tag tag-action tag-{status_type}'>{status}</span></h2>
			<p>{overview}</p>
			<p><b>DataBase API</b>: {database_name} | {database_id}</p>
			<p><b>Last update</b>: {updated_at}</p>
			<a target='_blank' href='{{\Request::getDirUrl()}}admin/resource/manga/{id}'>Chapters</a>
		</div>
	</div>

	<h3>Flag</h3>
	<select class='select-data'>
		<option>To be seen</option>
		<option>In progress</option>
		<option>Seen</option>
	</select>
	<button type='button' class='button button-action button-primary'><i class="fa fa-upload" aria-hidden="true"></i><span>Save changes</span></button>
	<h3>Actions</h3>
	<button type='button' class='button button-action button-primary' wt-sync='series,{id}'><i class="fa fa-refresh" aria-hidden="true"></i><span>Sync DataBase API</span></button>
	<button type='button' class='button button-action button-primary'><i class="fa fa-refresh" aria-hidden="true"></i><span>Check Updates</span></button>
	<button type='button' class='button button-action button-danger' wt-remove='series,{id}'><i class="fa fa-trash" aria-hidden="true"></i><span>Remove</span></button>
</div>