body,html{
	margin:0;
	height:100%;
}

body{
	margin: 0;
    height: 100%;
    background: url(http://cit.h-cdn.co/assets/15/50/1449837146-cinema.gif);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media (max-device-width:768px){
	body{
    	background-size: auto 100%;
    	background-position-x: 36%;
	}

}