.container{
	max-width:800px;
	margin:-80px auto
}

.box{
    /*
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    */
    margin: 10px;
    background: white;
    width: 100%;
    padding:20px;
    background:white;
    font-size:22px;
}


.tv-container{
	position:relative;
}

.tv-container > *{
	position:absolute;
}
.tv{
	z-index:5;
}

.he{
	z-index:4;
	margin-left: 154px;
    margin-top: 358px;
}
