@block('item.content')
	
	<div data-template='spinner-table'>

		<div class='table-row'>
			<div class='table-col'>
				@include('Admin/admin/__spinner')
			</div>
		</div>

	</div>
	
	<div data-template='autocomplete-container'>
		<div class='autocomplete-container' data-autocomplete-container='{name}'>
			<div class='autocomplete-results'>
				{results}
			</div>
		</div>
	</div>

	<div data-template='autocomplete-result'>
		<div class='autocomplete-result' 
			data-autocomplete-insert='{name}'
			data-autocomplete-hidden='{column}'
			data-autocomplete-label='{label}'
			data-autocomplete-value='{value}'>
			{label}
		</div>
	</div>


	@block('item.content.row')
		@include('Admin/admin/tmpl/row',['table' => $item -> getName(),'fields' => $item -> getViews() -> fields('all')])
	@endblock

	@block('item.content.modal.add')
		@include('Admin/admin/modal/add',['table' => $item -> getName(),'fields' => $item -> getViews() -> fields('add')])
	@endblock

	@block('item.content.modal.get')
		@include('Admin/admin/modal/get',['table' => $item -> getName(),'fields' => $item -> getViews() -> fields('get')])
	@endblock 


	@block('item.content.modal.edit')
		@include('Admin/admin/modal/edit',['table' => $item -> getName(),'fields' => $item -> getViews() -> fields('edit')])
	@endblock 

	@include('Admin/admin/modal/delete')
	@include('Admin/admin/modal/delete_multiple')

	<div data-item-table-container='{{$item -> getName()}}'>


			<div class='section-header ly-center'>
				<h3 class='section-title'>@block('item.content.title')Some content here...@endblock</h3>

				<div class='ly-fill'></div>
				
				<div class='section-actions'>


					<button type='button' class='button-action button-primary' data-modal='modal-item-add' data-modal-item-table='{{$item -> getName()}}'>
						<i class='fa fa-plus'></i>
						<span>New</span>
					</button>

					<!--
					<button type='button' class='button-action button-primary' data-modal='modal-item-add' data-modal-item-table='{{$item -> getName()}}'>
						<i class='fa fa-upload'></i>
						<span>Import</span>
					</button>

					<button type='button' class='button-action button-primary' data-modal='modal-item-add' data-modal-item-table='{{$item -> getName()}}'>
						<i class='fa fa-download'></i>
						<span>Export</span>
					</button>
					-->

				</div>
			</div>
				@block('item.content.head')

					<div class='section-pagination ly-center'>
						<div>If selected: &nbsp;</div>
						<select class='select-data' data-item-multiple data-item-table='{{$item -> getName()}}'> 
							<option value='none'>Select action...</option>
							<option value='delete'>Delete</option>
							<option>Edit</option>
							<option value='copy'>Copy</option>
						</select>

						<div class='ly-fill'></div>

						@include('Admin/admin/structure/table/pagination',['table' => $item -> getName()])
					</div>

				@endblock
				<div class='table'>

					@block('item.content.table.head')
						@include('Admin/admin/structure/table/head',['table' => $item -> getName(),'fields' => $item -> getViews() -> fields('all')])
						@include('Admin/admin/structure/table/search',['table' => $item -> getName(),'views' => $item -> getViews()])
					@endblock
					<div class='item-rows'>
						<div class='table-row'>
							<div class='table-col'>
								@include('Admin/admin/__spinner')
							</div>
						</div>
					</div>

				</div>
				<div class='section-pagination ly-center'>
					<div>
						<select class='select select-data' data-item-show data-item-table='{{$item -> getName()}}'>
							<option value='10'>10</option>
							<option value='25'>25</option>
							<option value='50'>50</option>
							<option value='100'>100</option>
						</select>
					</div>
					<div class='ly-fill'></div>
					@include('Admin/admin/structure/table/pagination',['table' => $item -> getName()])
				</div>

		</div>
@endblock
@block('item:script')
	<script>
		window.onload = function(){
			item.addTable({
				name:'{{$item -> getName()}}',
				url:'{{$item -> getUrl()}}',
				list:{
					show:10,
					page:1,
					sort:{field:null,direction:null},
					relations:{
						columns:{},
						ids:{},
						values:{},
						schema:{{json_encode($item -> getViews() -> view('all') -> getMinimalRelation())}}
					},
					relations_ids:{},
						
					get: function(container,table,results,columns){
						
						var rows = '';

						// Build the rows
						$.map(results,function(row){

							var record = {};

							@foreach($item -> getViews() -> fields('all') as $field)

								var data = row;
								var name = '{{$field -> getName()}}';
								var value = null;

								@if($field -> is('to_one'))

									@foreach($field -> getRelations() as $n => $relation)

										// -- Relation: {{$field -> getName()}}:{{$relation -> getName()}}


										@if($field -> is('to_one'))
											@if($url = $field -> getUrl($n))

												var relation = table.list.relations.values["{{$url}}"];
												if(data && data["{{$relation -> getColumn()}}"]){
													$.map(relation,function(value){
														if(value.{{$relation -> getObjectSchema() -> getPrimaryField() -> getName()}} == data["{{$relation -> getColumn()}}"]){
															data = value;
															return;
														}
													});
												}
												else
													data = null;


											@endif
										@endif
									@endforeach

									if(typeof data == "undefined" || !data)
										var value = 'undefined';
									


								@else

									var value = data.{{$field -> getColumn()}};

								@endif

								record[name] = value;
							@endforeach


							record.table = table.name;
							rows += template.get('item-row',record);
						});

						template.html(rows,'.item-rows');
						
					}
				},
				get:{
					get: function(container,table,row){
						@foreach($item -> getViews() -> fields('get') as $field)

							var data = row;
							var name = '{{$field -> getName()}}';


							@if($field -> getForm() -> is('to_one'))

								@foreach($field -> getRelations() as $n => $relation)

								// -- Relation: {{$field -> getName()}}:{{$relation -> getName()}}

									@if($url = $field -> getUrl($n))

										var relation = table.list.relations.values["{{$url}}"];
										if(data && data["{{$relation -> getColumn()}}"]){
											$.map(relation,function(value){
												if(value.{{$relation -> getObjectSchema() -> getPrimaryField() -> getName()}} == data["{{$relation -> getColumn()}}"]){
													data = value;
													return;
												}
											});
										}
										else
											data = null;


									@endif
								@endforeach

								if(typeof data == "undefined" || !data)
									var value = 'undefined';
								else
									var value = data.{{$field -> getLastRelation() -> getName()}};

							@endif


							$('#modal-item-get').find("[data-name='"+name+"']").html(value);
						@endforeach
					},
				},
				add:{
					form: '#item-data-form-add',
					action: function(form){
						var values = {};

						@foreach($item -> getViews() -> fields('add') as $field)
							values.{{$field -> getSchema() -> getColumn()}} = form.find('[name={{$field -> getSchema() -> getColumn()}}]').val();
						@endforeach
						return values;
					}
				},
				delete:{
					form: '#item-data-form-add',
				},
				copy:{

				},
				edit:{
					get: function(container,data){
						@foreach($item -> getViews() -> fields('edit') as $field)
							var field = $('#modal-item-edit').find('[name={{$field -> getColumn()}}]');

							
							field.val(data['{{$field -> getColumn()}}']);


							@if($field -> is('to_one'))

								@if($field -> getSchema() -> getType() == 'to_one' && $field -> isSelect())
									item.autocomplete.load(field,"{{$item -> getName()}}.{{$field -> getName()}}");
								@endif

							@endif
						@endforeach
					},
					action: function(form){
						var values = {};

						@foreach($item -> getViews() -> fields('edit') as $field)
							values.{{$field -> getSchema() -> getColumn()}} = form.find('[name={{$field -> getSchema() -> getColumn()}}]').val();
						@endforeach

						return values;
					}
				},
				search:{
					data: {},
					action: function(form){
						var values = {};

						@foreach($item -> getViews() -> fields('search') as $field)
							if(form.find("[name='{{$field -> getName()}}']").val() !== '')
								values["{{$field -> getName()}}"] = form.find("[name='{{$field -> getName()}}']").val();
						@endforeach
						return values;
					}
				}

			});


		item.ini();
	};
	</script>

@endblock